#main-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#full-image-container {
    position: relative;
}

#full-image {
    max-width: 100%;
    margin-bottom: 10px;
    max-height: 600px;
}

#caption {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    object-fit: cover;
}

.arrow {
    font-size: 2em;
    cursor: pointer;
    color: black;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999; /* Ensures the arrows are above other elements */

    width: auto;
    padding: 16px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
}

.arrow:hover{
    background-color: rgba(176, 150, 150, 0.799);
}

#left-arrow {
    left: 10px;
}

#right-arrow {
    right: 10px;
}

#nav-menu {
    /* Your existing styles for the navigation menu */

    /* Add space below the navigation menu */
    margin-bottom: 20px; /* Adjust the value as needed */
}